
.adlib-message, .adlib-property {
  font-weight: bold;
}

.adlib-message {
  cursor: pointer;
}

.adlib-form {
  display: none;
}

html.js .adlib-form {
  display: block;
}

.adlib-message{
  display: inline;
}

html.js button.adlib-button.throbbing {
  background:url(status-active.gif) no-repeat right center;
  padding-right:18px;
}
